body{
    margin:0;
    text-decoration:none;
    background-color:rgb(171, 173, 173);;
}
header{
    width:100%;
    height:100px;
    top:0;
    left:0;
    right:0;
    position:relative;
}
.logo img{
    width:6%;
    margin:10px 30px;
    position:absolute;
}
.nav{
    position:absolute;
    width:51%;
    height:50px;
    background-color:rgb(171, 173, 173);
    border-radius:10px;
    margin:20px 150px;
}
.nav ul li{
    display:inline-block;
    width:120px;
    padding-right:25px;
    text-decoration:none;
    color:#fff;
    line-height: 44px;
    text-align:center;
}
.nav a{
    display:block;
    width:120px;
    height:50px;
    margin-top:-20%;
    text-decoration:none;
    font-size:20px;
    color:#fff;
    line-height: 48px;
}
.search{
    width: 300px;
    height: 50px;
    position: absolute;
    background-color: rgb(171, 173, 173);
    margin-left: 78%;
    margin-top:20px;
    border-radius: 10px;
}
.search input{
    width:290px;
    height:35px;
    margin:5px;
    border-style:none;
    background-color:rgb(171, 173, 173);
    color:#fff;
    outline: none;
    font-size:15px;
}
.icon-search{
    position: absolute;
    background-color: transparent;
    border: 0 none;
    width: 10%;
    margin: -12.5% 80%;
}
