html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    text-decoration:none;
    background-color:rgb(119, 120, 120);
}
header{
    width:100%;
    height:100px;
    top:0;
    left:0;
    right:0;
    position:relative;
    z-index: 111;
}
.logo img{
    width:6%;
    margin:10px 30px;
    position:absolute;
}
.nav{
    position:absolute;
    width:51%;
    height:50px;
    background-color:rgb(103, 102, 102);
    border-radius:10px;
    margin:20px 170px;
}
.nav ul li{
    display:inline-block;
    width:120px;
    margin-left:15px;
    text-decoration:none;
    line-height: 44px;
    text-align:center;
}
.nav a{
    font-.family: "Times New Roman", Times, serif;
    display:block;
    width:120px;
    height:50px;
    text-decoration:none;
    font-size:18px;
    color:black;
    line-height: 48px;
}
.search{
    width: 350px;
    height: 50px;
    position: absolute;
    background-color: rgb(103, 102, 102);
    margin-left: 66%;
    margin-top:20px;
    border-radius: 10px;
}
.search input{
    width:340px;
    height:40px;
    margin:5px;
    border-style:none;
    background-color:rgb(103, 102, 102);
    color:#fff;
    outline: none;
    font-size:15px;
}
.icon-search{
    position: absolute;
    background-color: transparent;
    border: 0 none;
    width: 10%;
    margin: -12% 85%;
}
.user{
    width:50px;
    height:50px;
    float:right;
    margin:20px 90px;
    border-radius:50px;
    background-color:rgb(103, 102, 102);
}
.user svg{
    width: 60%;
    margin: 5px 10px;
}
.user a{
    color:tan;
    text-decoration:none;
}
.user_infor{
    display:none;
    width:100px;
    height:100px;
    background-color: rgb(103, 102, 102);
    border-radius:10px;
    margin: 10px -25px;
    text-align:center;
}
.user_infor button{
    border:none;
    background-color:rgb(103, 102, 102);
}

#dark{
    width:45px;
    position:absolute;
    border:none;
    background-color:rgb(103, 102, 102);
    display:none;
    margin-top:23px;
    margin-left:95%;
    border-radius:50px;
}
#light{
    width:45px;
    position:absolute;
    border:none;
    background-color:rgb(103, 102, 102);
    display:block;
    margin-top:23px;
    margin-left:95%;
    border-radius:50px;
}
#dark svg{
    width:80%;
}
#light svg{
    width:80%;
}

/* main Page */
.container{
    width:100%;
    height:auto;
    margin:50px 0;
}
.carousel {
    position: relative;
    width: 70%;
}
.notification{
    width:28%;
    height:300px;
    float:right;
    border-radius:10px;
    margin-top:-20.1%;
    background: #f4f2f2bd;
}
.noti_content i{
    width:50px;
}
.new{
    width:100%;
    height:1000px;
    background-color:rgb(103, 102, 102);
    margin-top:40px;
    border-radius:20px;
}
h1{
    color:black;
    text-align:center;
    font-size:50px;
}
.new_container{
    width:300px;
    height:350px;
    display:inline-flex;
    margin:25px 34.3px;
    flex-wrap: wrap;
    align-content: center;
}
.new_container img{
    width:300px;
    height:200px;
}
.new_container h4{
    color:#fff;
}
.new_container a{
    color:#fff;
    text-decoration:none;
}
.document{
    width:100%;
    height:900px;
    background-color:rgb(103, 102, 102);
    margin-top:40px;
    border-radius:20px;
}
.document img{
    width:300px;
    height:200px;
}
.document_container{
    width:300px;
    height:350px;
    display:inline-flex;
    margin: 10px 96.3px;
    flex-wrap: wrap;
    align-content: center;
}
.document_container h4{
    color:#fff;
}
.document_container a{
    color:#fff;
    text-decoration:none;
}
.admissions{
    width:100%;
    height:500px;
    background-color:rgb(103, 102, 102);
    margin-top:40px;
    border-radius:20px;
}
.admissions_container{
    width:300px;
    height:150px;
    display:inline-flex;
    margin: 70px 34px;
    flex-wrap: wrap;
    align-content: center;
}
.admissions_container img{
    width:300px;
    height:150px;
}
.admissions_container a{
    color:#fff;
    text-decoration:none;
}
.admissions_container h4{
    color:#fff;
}
.contact{
    width:100%;
    height:400px;
    background-color:rgb(64, 63, 63);
}
.contact h4{
    position:absolute;
    color:#fff;
    margin:50px 140px;
}
.contact p{
    color:#fff;
    text-align:center;
    font-size:30px;
}
.contact_container{
    display:inline-flex;
    width:90%;
    height:15%;
    margin-left:70px;
}
.svg {
    display:flex;
    position:absolute;
    width:80%;
    margin-top:30px;
}
.svg a{
    font-size: 20px;
    margin-left:50px;
    margin-top:10px;
    color:#fff;
}
.svg svg{
    width:2%;
}