body{
    margin:0;
    text-decoration:none;
}
header{
    width:100%;
    height:100px;
    top:0;
    left:0;
    right:0;
    position:relative;
}
.logo img{
    width:6%;
    margin:10px 30px;
    position:absolute;
}
.nav{
    position:absolute;
    width:90%;
    height:70px;
    background-color:rgb(171, 173, 173);
    border-radius:10px;
    margin:20px 150px;
}
.nav ul li{
    display:inline-block;
    width:120px;
    height:50px;
    padding-right:25px;
    text-decoration:none;
    font-size:25px;
    color:tan;
    line-height: 44px;
    text-align:center;
}
.nav a{
    display:block;
    width:120px;
    height:50px;
    padding-right:25px;
    text-decoration:none;
    font-size:25px;
    color:tan;
    line-height: 44px;
    text-align:center;
    transition: box-shadow 0.3s;
}
