body{
    margin:0;
    text-decoration:none;
    background-color:rgb(116, 118, 118);;
}
header{
    width:100%;
    height:100px;
    top:0;
    left:0;
    right:0;
    position:relative;
    z-index: 111;
}
.logo img{
    width:6%;
    margin:10px 30px;
    position:absolute;
}
.nav{
    position:absolute;
    width:51%;
    height:50px;
    background-color:rgb(171, 173, 173);
    border-radius:10px;
    margin:20px 170px;
}
.nav ul li{
    display:inline-block;
    width:120px;
    margin-left:15px;
    text-decoration:none;
    color:#fff;
    line-height: 44px;
    text-align:center;
}
.nav a{
    display:block;
    width:120px;
    height:50px;
    text-decoration:none;
    font-size:18px;
    color:#fff;
    line-height: 48px;
}
.search{
    width: 350px;
    height: 50px;
    position: absolute;
    background-color: rgb(171, 173, 173);
    margin-left: 66%;
    margin-top:20px;
    border-radius: 10px;
}
.search input{
    width:340px;
    height:40px;
    margin:5px;
    border-style:none;
    background-color:rgb(171, 173, 173);
    color:#fff;
    outline: none;
    font-size:15px;
}
.icon-search{
    position: absolute;
    background-color: transparent;
    border: 0 none;
    width: 10%;
    margin: -12% 85%;
}
.user{
    width:50px;
    height:50px;
    float:right;
    margin:20px 50px;
    border-radius:50px;
    background-color:rgb(171, 173, 173);
}
.user svg{
    width:70%;
    margin:3px 8px;
}
.user_infor{
    width:100px;
    height:auto;
    background-color: rgb(171, 173, 173);
    border-radius:10px;
    margin: 10px -25px;
    text-align:center;
}

.container{
    width:100%;
    height:auto;
    margin:50px 0;
}