.admissions{
    width:100%;
    height:800px;
    margin-top:40px;
    border-radius:20px;
}
.admissions_container{
    width:300px;
    height:150px;
    display:inline-flex;
    margin: 120px 98px;
    flex-wrap: wrap;
    align-content: center;
}
.admissions_container img{
    width:300px;
    height:250px;
}
.admissions_container a{
    margin-top:15%;
    font-size: 20px;
    font-weight: 600;
    color:black;
    text-decoration:none;
}
.admissions_container h5{
    margin-top:0%;
    position:absolute;
    font-size:18px;
    color:#000;
}
h1{
    text-align: center;
}