.document{
    width:100%;
    height:900px;

    margin-top:40px;
    border-radius:20px;
}
.document img{
    width:300px;
    height:200px;
}
.document_container{
    width:300px;
    height:350px;
    display:inline-flex;
    margin: 10px 96.3px;
    flex-wrap: wrap;
    align-content: center;
}
.document_container h4{
    color:#fff;
}
.document_container a{
    color:#fff;
    text-decoration:none;
}
h1{
    text-align:center;
}