html{
    scroll-behavior: smooth;
    height:auto;
}
body{
    margin:0;
    text-decoration:none;
    background-color:rgb(119, 120, 120);
}
header{
    width:100%;
    height:100px;
    top:0;
    left:0;
    right:0;
    position:relative;
    z-index: 111;
}
.logo img{
    width:6%;
    margin:10px 30px;
    position:absolute;
}
.nav{
    position:absolute;
    width:51%;
    height:50px;
    background-color:rgb(103, 102, 102);
    border-radius:10px;
    margin:20px 170px;
}
.nav ul li{
    display:inline-block;
    width:120px;
    margin-top:-10%;
    margin-left:15px;
    text-decoration:none;
    line-height: 44px;
    text-align:center;
}
.nav a{
    display:block;
    width:120px;
    height:50px;
    text-decoration:none;
    font-size:18px;
    color:black;
    line-height: 48px;
}
.search{
    width: 350px;
    height: 50px;
    position: absolute;
    background-color: rgb(103, 102, 102);
    margin-left: 66%;
    margin-top:20px;
    border-radius: 10px;
}
.search input{
    width:340px;
    height:40px;
    margin:5px;
    border-style:none;
    background-color:rgb(103, 102, 102);
    color:#fff;
    outline: none;
    font-size:15px;
}
.icon-search{
    position: absolute;
    background-color: transparent;
    border: 0 none;
    width: 10%;
    margin: -12% 85%;
}
.user{
    width:50px;
    height:50px;
    float:right;
    margin:20px 90px;
    border-radius:50px;
    background-color:rgb(103, 102, 102);
}
.user svg{
    width: 60%;
    margin: 5px 10px;
}
.user a{
    color:tan;
    text-decoration:none;
}
.user_infor{
    display:none;
    width:100px;
    height:100px;
    background-color: rgb(103, 102, 102);
    border-radius:10px;
    margin: 10px -25px;
    text-align:center;
}
.user_infor button{
    border:none;
    background-color:rgb(103, 102, 102);
}

#dark{
    width:45px;
    position:absolute;
    border:none;
    background-color:rgb(103, 102, 102);
    display:none;
    margin-top:23px;
    margin-left:95%;
    border-radius:50px;
}
#light{
    width:45px;
    position:absolute;
    border:none;
    background-color:rgb(103, 102, 102);
    display:block;
    margin-top:23px;
    margin-left:95%;
    border-radius:50px;
}
#dark svg{
    width:80%;
}
#light svg{
    width:80%;
}