.admissions{
    width:100%;
    height:500px;

    margin-top:40px;
    border-radius:20px;
}
.admissions_container{
    width:300px;
    height:150px;
    display:inline-flex;
    margin: 70px 34px;
    flex-wrap: wrap;
    align-content: center;
}
.admissions_container img{
    width:300px;
    height:150px;
}
.admissions_container a{
    color:black;
    text-decoration:none;
}
.admissions_container h4{
    color:#fff;
}
h1{
    text-align: center;
}